DB_HOST=localhost
DB_PORT=3306
DB_NAME=your-database
DB_USER=your-user
DB_PASSWORD=your-password

ADDRESS=localhost
PORT=8080

TIME_OUT_LIMIT=10
EXPIRED_OTP=5

JWT_SECRET_KEY=a-string-secret-at-least-256-bits-long
JWT_EXP_TIME=1

BLOCKCHAIN_RPC_URL=http://127.0.0.1:8545
BLOCKCHAIN_PRIVATE_KEY=0x...
BLOCKCHAIN_CHAIN_ID=31337
BLOCKCHAIN_NETWORK_NAME=Local Anvil
GREEN_PASSPORT_CONTRACT_ADDRESS=0x...
BLOCKCHAIN_TX_TIMEOUT_SECONDS=90
